h1= lang("adminSettings")
h2= lang("users")
.table-wrapper
    table#user_list
        tr
            th user_id
            th= lang("username")
            th= lang("email")
            th= lang("password")
            th= lang("verified")
            th admin
            th= lang("change")
        each user in all_users
            tr
                td.uuid
                    = user.user_id
                td
                    input(type="text" placeholder=user.username id="input_username_" + user.user_id)
                td
                    input(type="email" placeholder=user.email id="input_email_" + user.user_id)
                td
                    input(type="password" id="input_password_" + user.user_id)
                td
                    input(type="checkbox" checked=user.verified id="input_verified_" + user.user_id)
                td
                    input(type="checkbox" checked=user.admin id="input_admin_" + user.user_id)
                td
                    a(href="javascript:void(0)" onclick="adminChangeUser('" + user.user_id + "');")= lang("change")

h2= lang("clients")
.table-wrapper
    table#client_list
        tr
            th client_id
            th name
            th dev_id
        each client in all_clients
            tr
                td.uuid= client.client_id
                td= client.name
                td.uuid= client.dev_id
