h1= lang("settings")
.table-wrapper
    table#settings-input-container
        tr
            th
                label(for="username")= lang("username")
            td
                input.inputs_user_info(type="text" name="username" placeholder=user.username)
        tr
            th
                label(for="email")= lang("email")
            td
                input.inputs_user_info(type="text" name="email", placeholder=user.email)

        each val, key in user_info
            tr
                if typeof val === "object"
                    th= key
                    td
                        select.inputs_user_info(style="display: inline;" name=key)
                            each opt in val
                                option(value=opt selected=user.user_info[key] === opt)= opt
                else
                    th
                        label(for=key)= key
                    td
                        input.inputs_user_info(type=text name=key placeholder=user.user_info[key] || val)

        tr
            th
                label(for="password")= lang("password")
            td
                input.inputs_user_info#input_password(type="password" name="password")
        tr
            th
                label(for="confirm_password")= lang("confirmPassword")
            td
                input#input_confirm_password(type="password" name="confirm_password")
button#button_submit= lang("change")
