doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    link(href="../css/authorization.css" rel="stylesheet")
    title= lang("register")
    script(src="../js/register.js")
    script(src="../js/authorization.js")
body
    #outer-container
        form#inner-container
            h1#title= lang("register")
            #input-container
                input#usernameInput(type="text" name="username" placeholder=lang("username") required)
                input#emailInput(type="text" name="email" placeholder=lang("email") required)
                input#passwordInput(type="password" name="password" placeholder=lang("password") required)
                input#passwordVerification(type="password" name="password-verification" placeholder=lang("confirmPassword") required)
            #button-container
                a#loginButton(href="javascript:void(0)" onclick="redirect('../authorize')")= lang("login")
                input#nextButton(type="submit" value=lang("continue"))
    #cookie-banner
        p #{lang('cookie_banner')}

script document.querySelector("form").addEventListener("submit", submitRegister)
