doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    link(href="../css/register.css" rel="stylesheet")
    title= lang("register")
    script(src="../js/register.js")
    script(src="../js/authorization.js")
body
#interactionContainer
    //- Logo
    h1#interactionHeader= lang("register")
    label
        input#usernameInput(type="text" placeholder=lang("username"))
        br
        input#emailInput(type="text" placeholder=lang("email"))
        br
        input#passwordInput(type="password" placeholder=lang("password"))
        br
        input#passwordVerification(type="password" placeholder=lang("confirmPassword"))
    a#loginButton(href="javascript:void(0)" onclick="redirect('../authorize')")= lang("login")
    button#registerButton(onclick="submitRegister()")= lang("continue")
